@{
    ViewBag.Title = "Grade Change";
}
<h2>Grade Change - Viewing Pending Requests</h2>

<hr>

<ul style="font-size:14px; list-style-type:none;">
    <a href="/GradeChange/Get?id=1"> <li>CSE134b - Sent by: John Egbert</li> </a>
    <a href="/GradeChange/Get?id=1"> <li>CSE100 - Sent by: Dave Strider</li> </a>
    <a href="/GradeChange/Get?id=1"> <li>CSE120 - Sent by: Jade Harley</li> </a>
    <a href="/GradeChange/Get?id=1"> <li>CSE12 - Sent by: Jane Crocker</li> </a>
    <a href="/GradeChange/Get?id=1"> <li>CSE140 - Sent by: Dave Strider</li> </a>
    <a href="/GradeChange/Get?id=1"> <li>CSE140 - Sent by: John Egbert</li> </a>
 
</ul>
