

<html style="background-color:#6699FF">
@{
    var id = ViewBag.Id;
}



<h1>Update Your Graduate Admission Scores </h1>

<form role="form">
    <div class="form-group">
        <label for="Under_Gpa">Under_Gpa</label>
        <input type="text" class="form-control" id="gpa">
    </div>
    <div class="form-group">
        <label for="gre">GRE</label>
        <input type="text" class="form-control" id="gre">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>





@id
Update Functionality for Grad Student

</html>

<script>
              
</script>

