@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Grad Student Page</h3>

<div id="divGradStudentListContent">
    <table>
        <thead>
            <tr>
                <th>Sid</th>
                <th>Under_Gpa</th>
                <th>Gre</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text:        sid"></td>
                <td data-bind="text:        under_gpa"></td>
                <td data-bind="text:        gre"></td>
                <td><button data-bind="DeleteGradStudent:'' ">   Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var gradStudentViewModelObj = new GradStudentViewModel();
        gradStudentViewModelObj.GetAll();
    });
</script>

